:root {
    --background: #FCF6F5FF;
}

body {
    background-color: var(--background);
}

.navbar-item h1 {
    font-family: "Caveat", cursive, sans-serif;
    font-size: 48px;
}

p, ul {
    font-family: "Amatic SC", cursive;
    font-size: 32px;
}


.tile {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {
    margin-top: 10px;
}

.tile {
    background-color: var(--background);
}


footer p {
    font-size: 36px;
    font-weight: bolder;
}

.button {
    font-family: "Amatic SC", cursive;
    font-size: 38px;
    font-weight: bold;
}